[submodule ".nvm"]
	path = .nvm
	url = https://github.com/creationix/nvm
[submodule ".vim"]
	path = .vim
	url = https://github.com/aspyrx/.vim
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule ".npm_global"]
	path = .npm_global
	url = git@github.com:aspyrx/.npm_global
[submodule ".avn"]
	path = .avn
	url = https://github.com/wbyoung/avn
