# Ignore all files
*

# Except these:
# README and license
!README.md
!LICENSE

# config files/folders
!.gitignore
!.gitignore_global
!.gitconfig
!.gitmodules

!.bash_profile
!.bashrc
!.bash_aliases

!.bash-git-prompt

!.tmux.conf

!.vim
!.config/
!.vimrc

!.tern-config

!.nvm
!.avn
!.avnrc
!.node-version

!.npmrc
!.npm_global

