# This is Git's per-user configuration file.
[push]
    default = simple
[user]
    name = Stan Zhang
    email = stan.zhang2@gmail.com
[core]
    excludesfile = ~/.gitignore_global
    fscache = true
[alias]
    branches = branch -a
    tags = tag
    stashes = stash list
    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    nevermind = !git reset --hard HEAD && git clean -d -f
    amend = commit --amend
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    precommit = diff --cached --diff-algorithm=minimal -w
[fetch]
    prune = true

