# Ignore all files
*

# Except these:
# README, license, and preview image
!README.md
!LICENSE
!.setup-unix.png

# config files/folders
!.gitignore
!.gitignore_global
!.gitconfig
!.gitmodules

!.bash_profile
!.bash_profile.darwin.sh
!.bashrc
!.bash_color_prompt.sh
!.bash_aliases

!.tmux.conf
!.tmux.darwin.conf

!.vim
!.vimrc
!.config/
.config/*
!.config/nvim/

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/n

!.n
!.avn
!.avnrc
!.node-version

!.npmrc
!.npmrcs/
.npmrcs/*
!.npmrcs/default

!.npm_global

